<aside id="column-right" class="col-sm-3 hidden-xs">
  <div class="list-group">
    <a href="/account/" class="list-group-item">Mijn Account</a>
    <a
      href="javascript:void(0)"
      onclick="toggleEditForm()"
      class="list-group-item">Gegevens wijzigen</a>
    <a
      href="javascript:void(0)"
      onclick="resetPassword()"
      class="list-group-item">Wachtwoord</a>
    <a
      href="javascript:void(0)"
      onclick="changeAddress()"
      class="list-group-item">Adresboek</a>
    <a
      href="javascript:void(0)"
      onclick="orderList()"
      class="list-group-item">Bestelhistorie</a>
    <a href="customer/logout" class="list-group-item">Uitloggen</a>
  </div>
</aside>