<aside id="column-right" class="col-sm-3 hidden-xs">
  <div class="list-group">
    <a href="/account/login" class="list-group-item">Inloggen</a>
    <a href="/account/register" class="list-group-item">Registreer</a>
    <a
      href="javascript:void(0)"
      onclick="toggleRecoverPasswordForm()"
      class="list-group-item">Wachtwoord vergeten</a>
    <a href="https://www.rephone.nl/index.php?route=account/account" class="list-group-item">Mijn Account</a>
    <a href="https://www.rephone.nl/index.php?route=account/address" class="list-group-item">Adresboek</a>
    <a href="https://www.rephone.nl/index.php?route=account/order" class="list-group-item">Bestelhistorie</a>
  </div>
</aside>