<div class="container trade-in-thanks">
  <section class="payment-breadcrumbs">
    <div class="left-side">
      <div class="crumb done">
        <div class="inner">
          <p>Je gegevens</p>
        </div>
        <div class="line"></div>
      </div>
      <div class="crumb done">
        <div class="inner">
          <p>Betaalwijze</p>
        </div>
        <div class="line"></div>
      </div>
      <div class="crumb done">
        <div class="inner">
          <p>Overzicht</p>
        </div>
        <div class="line"></div>
      </div>
      <div class="crumb done">
        <div class="inner">
          <p>Betaald</p>
        </div>
        <div class="line"></div>
      </div>
    </div>
  </section>

  <section class="main-content">
    <div class="inner">
      <div class="content-banner">
        <div class="inner" style="background:  url('https://farm7.staticflickr.com/6148/6205837092_1b518ccf7b_b.jpg') 100% 100%">
          <div class="row">
            <div class="col-12 col-md-8" style="color:  black;">
              <h2>
                Bestelling geplaatst
              </h2>
              <p>
                Hartelijk bedankt voor uw bestelling. Als al uw bestelde artikelen op voorraad zijn gaat ons magazijn aan de slag met uw bestelling. Op het moment dat uw pakketje gereed staat om naar PostNL te gaan ontvangt u van ons een track and trace code. Heeft u nog vragen? Neem gerust contact op met onze klantenservice.
              </p>
              <a href="" class="btn-green">Verder shoppen!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline mobile-line-after mobile-line-before">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
            <div class="row">
              <div class="col-1 col-sm-3 col-md-2">
                <i class="fal fa-warehouse" style="font-size: 45px;"></i>
              </div>
              <div class="col-9 col-sm-8 col-md-7 offset-1">
                <p>Alle artikelen op voorraad? Ons magazijn gaat voor je aan de slag.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
            <div class="row">
              <div class="col-1 col-sm-3 col-md-2">
                <i class="fal fa-box-full" style="font-size: 45px;"></i>
              </div>
              <div class="col-9 col-sm-8 col-md-7 offset-1">
                <p>Zodra het pakket klaar staat ontvang je een track and trace.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="row">
              <div class="col-1 col-sm-3 col-md-2">
                <i class="fal fa-shipping-fast" style="font-size: 45px;"></i>
              </div>
              <div class="col-9 col-sm-8 col-md-7 offset-1">
                <p>Onze vervoerder PostNL levert het pakketje zo snel mogelijk af.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="divider-line d-none d-md-block">
  <div class="container">
    <div class="line"></div>
  </div>
</div>