<div class="container order-and-pickup contact">
  <section class="breadcrumbs">
    <div class="item-parent col-12 col-lg-6">
      <ul class="item-parent">
        <li class="item">
          <p>
            <a href="{{routes.root_url}}">Home</a>
          </p>
        </li>
        <li class="item">
          <p>
            <a href="">Bezorging &amp; Afhalen</a>
          </p>
        </li>
      </ul>
    </div>
  </section>
  <div class="row">
    <section class="main-content col-12 col-lg-9">
      <div class="inner">
        <section class="content-text">
          <h1 class="mt-2 mt-lg-0">Bezorging &amp; Afhalen</h1>
          <h2>Wat is de levertijd van mijn bestelling?</h2>
          <span style="font-size: 14px;">&nbsp;<br></span>
          <span style="font-size: 14px;">Bestellingen die voor 22:00 uur geplaatst worden en op voorraad zijn, worden dezelfde dag nog verzonden. Hierdoor heeft u uw producten de volgende dag al in huis, ook als u in België woont. Alle bestellingen worden gratis bezorgd met PostNL.</span>
          <p></p>
          <table style="outline: none; margin-bottom: 20px; width: 300px; font-size: 14px; background-color: rgb(255, 255, 255);">
            <tbody style="outline: none;">
              <tr style="outline: none;">
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">
                  <span style="outline: none; font-weight: 700;">Bestelling</span>
                </td>
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">
                  <span style="outline: none; font-weight: 700;">Levering *</span>
                </td>
              </tr>
              <tr style="outline: none;">
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Maandag voor 22:00</td>
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Dinsdag</td>
              </tr>
              <tr style="outline: none;">
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Dinsdag voor 22:00</td>
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Woensdag</td>
              </tr>
              <tr style="outline: none;">
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Woensdag voor 22:00</td>
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Donderdag</td>
              </tr>
              <tr style="outline: none;">
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Donderdag voor 22:00</td>
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Vrijdag</td>
              </tr>
              <tr style="outline: none;">
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Vrijdag voor 22:00</td>
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Zaterdag</td>
              </tr>
              <tr style="outline: none;">
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Zaterdag</td>
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Dinsdag</td>
              </tr>
              <tr style="outline: none;">
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Zondag</td>
                <td style="outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Dinsdag</td>
              </tr>
            </tbody>
          </table>
          <p style="outline: none; display: inline-block; vertical-align: top; width: 867.5px; margin-bottom: 20px; padding: 0px; line-height: 24px; font-size: 14px;">*De dag van levering is bijna altijd de aangegeven dag. Echter kunnen wij dit niet 100% garanderen, omdat wij afhankelijk zijn van PostNL voor de afhandeling van de bezorging.</p>
          <p>
            <span style="font-size: 14px;"></span>
            <span style="font-size: 14px;"></span>
          </p>
          <h2>Hoe wordt mijn bestelling verzonden?<br></h2>
          <span style="font-size: 14px;">Alle bestellingen worden gratis verzonden via PostNL. U ontvangt van ons een track and trace code zodra de zending bij PostNL is aangekomen. Als u niet thuis bent op het moment van bezorging, dan laat de bezorger een kaartje met een 'niet-thuiscode' bij u achter. Met deze code kunt u een nieuw bezorgmoment kiezen. Dit kan tot 22.00 uur. Als u niets doet, komt PostNL op de volgende bezorgdag (maandag t/m zaterdag) nog een keer bij u langs. Bent u de tweede bezorgpoging ook niet thuis, dan laat de bezorgen een briefje achter waar u uw pakket kunt ophalen. Uw pakket wordt daar twee weken bewaard, heeft u het in die tijd niet opgehaald dan gaat het pakket retour naar Rephone.</span>
          <p></p>
          <p>
            <span style="font-size: 14px;"></span>
          </p>
          <h2>Kan ik mijn bestelling ook afhalen?</h2><br>U kunt bij het bestellen aangeven dat u uw bestelling wilt ophalen bij ons in de winkel. U kunt er voor kiezen om van te voren een toestel te kiezen in de webshop en deze te reserveren door deze te betalen. U kunt ook op de onderstaande openingstijden naar onze winkel komen om verschillende toestellen en condities te bekijken. Dat is nog makkelijker kiezen! Let er wel op dat niet alle toestellen in voorraad zijn in de winkel. Vraag daarom altijd van te voren of een bepaald type op voorraad is.<p></p>
          <p>
            <span style="font-size: 14px;">Rephone (MobielRepair)<br>Nieuwstraat 40<br>3241CL&nbsp; Middelharnis<br>085 - 1301 646<br>info@rephone.nl</span>
          </p>
          <table style="box-sizing: border-box; border-collapse: collapse; border-spacing: 0px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; outline: none; margin-bottom: 20px; width: 300px; font-size: 14px;">
            <tbody style="box-sizing: border-box; outline: none;">
              <tr style="box-sizing: border-box; outline: none;">
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;"><br></td>
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;"><br></td>
              </tr>
              <tr style="box-sizing: border-box; outline: none;">
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">
                  <b>Openingstijden winkel</b>
                </td>
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;"><br></td>
              </tr>
              <tr style="box-sizing: border-box; outline: none;">
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Dinsdag</td>
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">09:30 - 17:30</td>
              </tr>
              <tr style="box-sizing: border-box; outline: none;">
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Woensdag</td>
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">09:30 - 17:30</td>
              </tr>
              <tr style="box-sizing: border-box; outline: none;">
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Donderdag</td>
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">09:30 - 17:30</td>
              </tr>
              <tr style="box-sizing: border-box; outline: none;">
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Vrijdag</td>
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">09:30 - 17:30<br></td>
              </tr>
              <tr style="box-sizing: border-box; outline: none;">
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">Zaterdag</td>
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;">09:30 - 17:00</td>
              </tr>
              <tr style="box-sizing: border-box; outline: none;">
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;"><br></td>
                <td style="box-sizing: border-box; padding: 0px; outline: none; vertical-align: top; line-height: 1.7em; margin: 0px;"><br></td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </section>
    <section class="right-sidebar col-12 col-lg-3">
      <div class="inner">
        <div class="customer-support-nav mobile-line-before">
          <h4>Klantenservice</h4>
          <ul>
            {% for link in linklists[section.settings.menu].links -%}
              <li class="mobile-line-before">
                <a href="{{link.url}}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="why-buy-here mobile-line-after">
          <h4>Waarom bij ons kopen</h4>
          <div class="check-marks">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'text-line' %}
                <div class="check-mark">
                  <i class="fal fa-check-circle"></i>
                  <p>{{ block.settings.line }}</p>
                </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% schema %}
  {
    "name": "Bezorging",
    "class": "section",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ],
    "blocks": [
      {
        "name": "Side Text Line",
        "type": "text-line",
        "settings": [
          {
            "type": "richtext",
            "id": "line",
            "label": "Text Line"
          }
        ]
      }
    ]
  }
{% endschema %}