<div class="divider-line mobile-line-before">
  <div class="container">
    <div class="line"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Divider Line",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "Divider Line"
      }
    ]
  }
{% endschema %}