<section class="content">
  <div class="container">
    <div class="inner">
      <div class="row">
        <div class="col-12 col-lg-8">
          <h2>
            Ook met een refurbished iPhone <br> maak je de mooiste instagram foto's
          </h2>
          <p>
            De iPhones van Apple zijn nu eenmaal niet de goedkoopste telefoons. Wil jij een iPhone kopen maar niet de volle prijs betalen? Dan is een refurbished iPhone een goede optie voor jou. Een refurbished iPhone is een tweedehands telefoon die helemaal is nagekeken door een specialist. Hierdoor weet je zeker dat alle onderdelen perfect werken, maar dat de prijs een stuk lager ligt. Het grote voordeel van een refurbished iPhone van Rephone t.o.v. een tweedehands via bijv. Marktplaats is dat je bij ons gewoon een volle 2 jaar garantie krijgt.
          </p>
          <a href="" class="btn-white">Meer informatie</a>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Middle Product IwT",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "text",
        "id": "emoji",
        "label": "Emoji"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      }
    ],
    "presets": [
      {
        "name": "Middle Product IwT"
      }
    ]
  }
{% endschema %}