<section class="refurbished-phones-row">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm item-parent">
        <div class="item">
          <div class="img"></div>
          <p class="title">Refurbished iPhone 7 Plus <br>
            <span>256GB  |  Space grey</span>
          </p>
          <div class="price">
            <p>Vanaf <br>
              <span>219,95</span>
            </p>
          </div>
          <a href="" class="blue-underline">
            <p>Bekijk alle iPhone 5S</p>
            <i class="far fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-6 col-sm item-parent">
        <div class="item">
          <div class="img"></div>
          <p class="title">Refurbished iPhone 7 Plus <br>
            <span>256GB  |  Space grey</span>
          </p>
          <div class="price">
            <p>Vanaf <br>
              <span>219,95</span>
            </p>
          </div>

          <a href="" class="blue-underline">
            <p>Bekijk alle iPhone 5S</p>
            <i class="far fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="d-none d-md-block col-6 col-sm item-parent">
        <div class="item">
          <div class="img"></div>
          <p class="title">Refurbished iPhone 7 Plus <br>
            <span>256GB  |  Space grey</span>
          </p>
          <div class="price">
            <p>Vanaf <br>
              <span>219,95</span>
            </p>
          </div>
          <a href="" class="blue-underline">
            <p>Bekijk alle iPhone 5S</p>
            <i class="far fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="d-none d-md-block col-6 col-sm item-parent">
        <div class="item">
          <div class="img"></div>
          <p class="title">Refurbished iPhone 7 Plus <br>
            <span>256GB  |  Space grey</span>
          </p>
          <div class="price">
            <p>Vanaf <br>
              <span>219,95</span>
            </p>
          </div>
          <a href="" class="blue-underline">
            <p>Bekijk alle iPhone 5S</p>
            <i class="far fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="d-none d-md-block col-6 col-sm item-parent">
        <div class="item">
          <div class="img"></div>
          <p class="title">Refurbished iPhone 7 Plus <br>
            <span>256GB  |  Space grey</span>
          </p>
          <div class="price">
            <p>Vanaf <br>
              <span>219,95</span>
            </p>
          </div>
          <a href="" class="blue-underline">
            <p>Bekijk alle iPhone 5S</p>
            <i class="far fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "liquid",
        "id": "label-text_color",
        "label": "Label Text Color",
        "default": "#000000"
      }, {
        "type": "product_list",
        "id": "rec_product_list",
        "label": "Rec Product List"
      }
    ],
    "presets": [
      {
        "name": "Product Collection"
      }
    ]
  }
{% endschema %}