<section class="refurbished-phones-row">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product' %}
          {% assign product = block.settings.product %}
          <div class="col-6 col-sm item-parent">
            <div class="item">
              <img src="{{product.featured_image | img_url: 'master'}}" style="width:200px;margin-left:-50px;">
              <p class="title">{{ product.title }}<br>
                <span>{{ block.settings.variant }}</span>
              </p>
              <div class="price">
                <p>Vanaf <br>
                  <span>{{ product.price | money_without_trailing_zeros | remove: '€' }},-</span>
                </p>
              </div>
            </img>
          </div>
        </div>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Product Collection",
    "max_blocks": 5,
    "blocks": [
      {
        "name": "Product",
        "type": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }, {
            "type": "text",
            "id": "variant",
            "label": "Variant"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Collection"
      }
    ]
  }
{% endschema %}