<div class="options mobile-line-after mobile-line-before">
            <div class="row">

              <div class="col-12 col-lg-8 color-options">
                <h4>Kleur</h4>
                <div class="row">
                  <a href="refurbished-iphone/iphone-se-2022/refurbished-iphone-se-128b-zwart/"
                    class="color col-2 col-lg-2">
                    <div class="img " style="background: rgb(46,48,51); margin: 0px auto;"></div>
                    <p>Black</p>
                  </a>
                  <a href="https://www.rephone.nl/refurbished-iphone/iphone-se-2022/refurbished-iphone-se-128gb-rood/"
                    class="color col-2 col-lg-2">
                    <div class="img active" style="background: rgb(165,40,44); margin: 0px auto;"></div>
                    <p>Red</p>
                  </a>
                  <a href="refurbished-iphone/iphone-se-2022/refurbished-iphone-se-128gb-wit/"
                    class="color col-2 col-lg-2">
                    <div class="img " style="background: rgb(249,246,239); margin: 0px auto;"></div>
                    <p>White</p>
                  </a>
                </div>
              </div>
              <div style="clear: both; width: 100%;"></div>
              <div class="col-12 col-lg-8 storage-options">
                <h4>Opslag</h4>
                <div class="row">
                  <a href="refurbished-iphone/iphone-se-2022/refurbished-iphone-se-64gb-rood/"
                    class="storage col-2 col-lg-2">
                    <div class="img " style="margin: 0px auto;">
                      <p>64</p>
                    </div>
                  </a>
                  <a href="https://www.rephone.nl/refurbished-iphone/iphone-se-2022/refurbished-iphone-se-128gb-rood/"
                    class="storage col-2 col-lg-2">
                    <div class="img active" style="margin: 0px auto;">
                      <p>128</p>
                    </div>
                  </a>
                  <a href="refurbished-iphone/iphone-se-2022/refurbished-iphone-se-256gb-rood/"
                    class="storage col-2 col-lg-2">
                    <div class="img " style="margin: 0px auto;">
                      <p>256</p>
                    </div>
                  </a>
                </div>
              </div>
              <div style="clear: both; width: 100%; height: 20px;"></div>
            </div>
          </div>
