<div id="account-login" class="container">
  {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i>
      {{ form.errors | default_errors }}</div>
  {% else %}
    <div class="alert alert-success alert-dismissible">
      <i class="fa fa-check-circle"></i>
      {% render 'success' %}</div>
  {% endif %}
  <div class="row">
    <div id="content" class="col-sm-12">
      <div class="row">
        <div class="col col-md-6">
          <div class="well">
            <h2>Nieuwe klant</h2>
            <p>
              <strong>Registreren</strong>
            </p>
            <p>Door een account aan te maken kunt u sneller en makkelijker bestellen. Daarnaast kunt u uw eerdere en huidige bestellingen eenvoudig bekijken.</p>
            <a href="/account/register" class="btn-green mt-4">Registreer mijn account</a>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="well">
            <h2>Bestaande klant</h2>
            {% form 'customer_login' %}
              <div class="form-group">
                <label for="email_address">Email</label>
                <input
                  type="email"
                  name="customer[email]"
                  id="email_address"
                  autocomplete="email"
                  placeholder="Email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  name="customer[password]"
                  id="password"
                  autocomplete="current-password"
                  placeholder="Password">
                <a href="/account/reset-password">Wachtwoord vergeten</a>
              </div>
              <button type="submit" class="btn-green">INLOGGEN</button>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>