{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<div class="container trade-in-step1 trade-in-landingpage">
        <!--
        <section class="payment-breadcrumbs d-md-block d-none">
            <div class="left-side">

                                <div class="crumb done">
                    <a href="inruilen/" class="inner">
                        <p>Verkopen / Inruilen</p>
                    </a>
                    <div class="line"></div>
                </div
                                <div class="crumb active">
                    <div class="inner ">
                        <p>Jouw toestel</p>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="crumb">
                    <div class="inner">
                        <p>Waardeindicatie</p>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </section>
        -->


        <div class="main-content container">
            <div class="inner">
                <div class="title mobile-line-after">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <h1>Verkopen aan Rephone</h1>
                        </div>
                    </div>
                </div>

                <div class="phones mobile-line-after">
                    <h3>Wat voor apparaat wil je inruilen?</h3>
                    <div class="row">
                                                <a href="https://www.rephone.nl/a/inruilen/smartphone" class="type-parent col-6 col-sm-6 col-md-4 col-lg-2">
                            <div class="type">
                                                                <img src="https://cdn.shopify.com/s/files/1/0607/5206/8837/files/11-white-456x456.jpg?v=1683028576" style="max-width:100%;">
                                                                <p>Smartphone</p>
                            </div>
                        </a>
                                                <a href="https://www.rephone.nl/a/inruilen/tablet" class="type-parent col-6 col-sm-6 col-md-4 col-lg-2">
                            <div class="type">
                                                                <img src="https://cdn.shopify.com/s/files/1/0607/5206/8837/files/ipad-2022-white-1-456x456_e38605a0-f2fc-4f8f-bab5-539f1312a315.png?v=1683118715" style="max-width:100%;">
                                                                <p>Tablet</p>
                            </div>
                        </a>
                                                <a href="https://www.rephone.nl/a/inruilen/smartwatch" class="type-parent col-6 col-sm-6 col-md-4 col-lg-2">
                            <div class="type">
                                                                <img src="https://cdn.shopify.com/s/files/1/0607/5206/8837/files/apple_watch_inruil_model.png" style="max-width:100%;">
                                                                <p>Smartwatch</p>
                            </div>
                        </a>
                                            </div>
                </div>
            </div>

            <div class="timeline mobile-line-after mobile-line-before">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="row">
                            <div class="col-1 col-sm-3 col-md-2">
                                <i class="fal fa-envelope" style="font-size: 40px;"></i>
                            </div>
                            <div class="col-9 col-sm-8 col-md-7 offset-1">
                                <p>Stuur je oude telefoon gratis naar ons op</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="row">
                            <div class="col-1 col-sm-3 col-md-2">
                                <i class="fal fa-search" style="font-size: 40px;"></i>
                            </div>
                            <div class="col-9 col-sm-8 col-md-7 offset-1">
                                <p>Weet gelijk wat je voor je telefoon krijgt</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="row">
                            <div class="col-1 col-sm-3 col-md-2">
                                <i class="fal fa-money-bill" style="font-size: 40px;"></i>
                            </div>
                            <div class="col-9 col-sm-8 col-md-7 offset-1">
                                <p>Wij storten de waarde op je bankrekening</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="three-cards">
                <div class="title">
                    <h2>Geld verdienen met je oude toestel?</h2>
                    <h3>Zo werkt het</h3>
                    <p>Heb je thuis een iPhone of iPad die je niet meer gebruikt, dan is deze geld waard! Lever je oude
                        toestel in en ontvang de waarde van je apparaat op je rekening . Geef de staat
                        van je iPhone of iPad aan, laat je gegevens achter en stuur je toestel op of kom langs bij
                        Rephone. Super eenvoudig!</p>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
                        <div class="inner" style="background: none; height: 320px;">
                            <div class="title">
                                <h3>1. Waarde berekenen</h3>
                            </div>
                            <div class="second-title">
                                <p>Weten wat je toestel waard is</p>
                            </div>
                            <div class="text">
                                <p>Bereken de waarde voor het verkopen van uw apparaat direct en snel. Of deze nu een beschadiging of mankement heeft, of nog helemaal ‘als nieuw’ is. Wij bieden u altijd een eerlijke waarde voor uw gebruikte apparaat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
                        <div class="inner" style="background: none; height: 320px;">
                            <div class="title">
                                <h3>2. Inpakken en opsturen</h3>
                            </div>
                            <div class="second-title">
                                <p>Via PostNL of inleveren bij Rephone</p>
                            </div>
                            <div class="text">
                                <p>Na het aanmelden van de te verkopen apparaat ontvangt u van ons een verzendlabel om het toestel gratis te verzenden en kosteloos af te leveren bij een PostNL pakketpunt. Verpak uw apparaat veilig in een stevige doos met genoeg opvulmateriaal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
                        <div class="inner" style="background: none; height: 320px;">
                            <div class="title">
                                <h3>3. Geld ontvangen</h3>
                            </div>
                            <div class="second-title">
                                <p>Weten wat je krijgt</p>
                            </div>
                            <div class="text">
                                <p>U ontvangt een track &amp; trace link om uw pakket te volgen en krijgt bevestiging na ontvangst en beoordeling van uw apparaat. Binnen 48 uur na afhandeling ontvangt u het bedrag op uw bankrekening. Bent u niet akkoord met de beoordeling? Dan ontvangt u de iPhone kosteloos retour.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="about mobile-line-after">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-4 left-side" style="margin-left: -10px;">
                            <div class="inner">
                                <h3>Waarom aan ons verkopen?</h3>

                                <div class="check-marks">
                                    <div class="check-mark">
                                        <i class="fal fa-check-circle"></i>
                                        <p>Direct de waarde berekend</p>
                                    </div>
                                    <div class="check-mark">
                                        <i class="fal fa-check-circle"></i>
                                        <p>Vaste prijs na aanmelden</p>
                                    </div>
                                    <div class="check-mark">
                                        <i class="fal fa-check-circle"></i>
                                        <p>Gratis en verzekerd verzenden</p>
                                    </div>
                                    <div class="check-mark">
                                        <i class="fal fa-check-circle"></i>
                                        <p>Aflevering mogelijk in fysieke winkel</p>
                                    </div>
                                    <div class="check-mark">
                                        <i class="fal fa-check-circle"></i>
                                        <p>Snel uitbetaald op uw bankrekening</p>
                                    </div>
                                </div>
                            </div>
                            <iframe frameborder="0" allowtransparency="true" src="https://www.kiyoh.com/retrieve-widget.html?button=true&amp;lang=nl&amp;tenantId=98&amp;locationId=1044124" width="100%" height="500"></iframe>

                        </div>
                        <div class="col-12 col-lg-8 right-side">
                            <div class="accordion" id="faq-accordion" style="width: 100%;">
                                                                <div class="card first">
                                    <div class="card-header" id="heading1">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1" style="width: 100%; text-align: left;">
                                                1.	Welke stappen moet ik ondernemen voor ik mijn toestel opstuur? 
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#faq-accordion" style="">
                                        <div class="card-body">U moet uw iCloud-account verwijderen van uw toestel en die daarna resetten, zodat wij uw toestel kunnen testen. Hieronder kan u precies zien hoe u dat moet doen. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading2">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" style="width: 100%; text-align: left;">
                                                2.	Moet ik het toestel resetten?
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Ja, als het toestel niet gereset is kunnen wij de telefoon niet testen. Bij de vraag ‘Hoe reset ik mijn toestel op de juiste manier?’ kan u lezen hoe u de telefoon moet resetten.</div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading3">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" style="width: 100%; text-align: left;">
                                                3.	Hoe reset ik mijn apparaat op de juiste manier? 
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Hieronder staan alle stappen die u moet ondernemen om uw toestel op de juiste manier te resetten:
&lt;ul&gt;
&lt;li&gt;Tik op 'Instellingen' &gt; 'Algemeen' &gt; 'Stel opnieuw in'.&lt;/li&gt;
&lt;li&gt;Tik vervolgens op 'Wis alle inhoud en instellingen'.&lt;/li&gt;
&lt;li&gt;Voer uw toegangscode of wachtwoord van uw Apple ID in als u hierom wordt gevraagd.&lt;/li&gt;
&lt;li&gt;Bevestig dan dat u uw apparaat wilt wissen.&lt;/li&gt;
&lt;li&gt;Wacht tot uw apparaat is gewist. Afhankelijk van het apparaat kan het wissen van alle gegevens enkele minuten duren. &lt;/li&gt;


&lt;/ul&gt;</div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading4">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" style="width: 100%; text-align: left;">
                                                4.	Hoe verwijder ik mijn iCloud-account van mijn toestel?
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Hieronder staan alle stappen die u moet ondernemen om uw iCloud-account uit te loggen: 
&lt;ul&gt;
&lt;li&gt;Ga naar 'Instellingen' &gt; '[uw naam]'. &lt;/li&gt;
&lt;li&gt;Scrol helemaal naar beneden.&lt;/li&gt;
&lt;li&gt;Tik op 'Log uit'.&lt;/li&gt;
&lt;li&gt;Voer uw Apple ID-wachtwoord in en tik op 'Schakel uit'.&lt;/li&gt;
&lt;li&gt;Schakel de gegevens in waarvan u een kopie op uw apparaat wilt bewaren.&lt;/li&gt;
&lt;li&gt;Tik op 'Log uit'.&lt;/li&gt;
&lt;li&gt;Tik opnieuw op 'Log uit' om te bevestigen dat u wilt uitloggen bij iCloud.&lt;/li&gt;


&lt;/ul&gt;</div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading5">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" style="width: 100%; text-align: left;">
                                                5.	Moet ik mijn toestel opgeladen opsturen? 
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Ja, wij hebben graag dat het toestel boven 50% is opgeladen. Hierdoor kunnen wij het toestel gelijk in behandeling nemen en sneller afhandelen. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading6">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" style="width: 100%; text-align: left;">
                                                6.	Hoe moet ik het toestel versturen? 
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#faq-accordion" style="">
                                        <div class="card-body">U kunt het beste het toestel in een doos met opvulmateriaal versturen, op deze manier is de telefoon goed beschermd en kan die geen schade oplopen tijdens het versturen. Om die doos te versturen kunt u een verzendlabel van ons gebruiken, dan is de verzending kosteloos en verzekerd. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading7">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7" style="width: 100%; text-align: left;">
                                                7.	Hoe lang is een verzendlabel geldig?      
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Een verzendlabel is 1 week geldig nadat deze is aangemaakt. Als uw verzendlabel is verlopen, kan u het toestel opnieuw aanmelden op onze site zodat u een nieuw verzendlabel krijgt. Stuur uw toestel niet op met een ongeldig verzendlabel, want dan is er een grote kans dat uw pakketje kwijtraakt. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading8">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8" style="width: 100%; text-align: left;">
                                                8.	Betaal ik verzendkosten? 
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Wanneer u ons verzendlabel gebruikt, zijn er geen verzendkosten. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading9">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9" style="width: 100%; text-align: left;">
                                                9.	Krijg ik een trackinglink bij het versturen? 
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Ja, zodra u uw toestel heeft aangemeld krijgt u gelijk een trackinglink van ons. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading10">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10" style="width: 100%; text-align: left;">
                                                10.	Moet ik het verzendbewijs bewaren? 
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Ja, deze hebben wij namelijk nodig als uw pakketje kwijt is geraakt bij PostNL. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading11">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11" style="width: 100%; text-align: left;">
                                                11.	Wat als mijn pakketje niet aankomt/kwijtraakt?
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Als uw pakketje na 3 werkdagen nog niet is aangekomen bij ons, neem dan gelijk contact op met onze klantenservice zodat zij een onderzoek kunnen starten bij PostNL. Dat onderzoek kan 2 weken duren, we proberen in die tijd u zo goed mogelijk op de hoogte te houden. Hiervoor hebben wij het serienummer en de factuur van het toestel nodig.</div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading12">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12" style="width: 100%; text-align: left;">
                                                12.	Moet ik mijn gegevens achterlaten in het doosje?
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Nee, wij scannen bij binnenkomst de barcode van het verzendlabel waardoor wij al uw gegevens kunnen zien. Dit werkt alleen als u gebruik maakt van een verzendlabel van ons.  </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading13">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13" style="width: 100%; text-align: left;">
                                                13.	Moet ik het originele doosje meesturen?
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Het is niet verplicht, maar het kan er wel voor zorgen dat het toestel beschermd is tijdens het verzenden. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading14">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14" style="width: 100%; text-align: left;">
                                                14.	Moet ik de oplader en oortjes meesturen?
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Nee, de oplader en oortjes hoeven niet meegestuurd te worden. Het gaat ons namelijk alleen om de telefoon, dus er wordt geen extra waarde gegeven voor de oplader en oortjes.</div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading15">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15" style="width: 100%; text-align: left;">
                                                15.	Krijg ik een bevestiging als mijn pakketje is afgeleverd/aangekomen? 
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Ja, u krijgt een bevestiging zodra uw pakketje bij ons wordt gescand. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading16">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16" style="width: 100%; text-align: left;">
                                                16.	Hoe lang duurt het voordat mijn toestel is bekeken/gecheckt?
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#faq-accordion" style="">
                                        <div class="card-body">We proberen uw toestel binnen 3 werkdagen in behandeling te nemen. Zodra uw toestel is afgehandeld, krijgt u een mail. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading17">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17" style="width: 100%; text-align: left;">
                                                17.	Krijg ik een bevestiging als mijn toestel is goedgekeurd?
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Ja, u krijgt een mail zodra uw toestel is goedgekeurd. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading18">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18" style="width: 100%; text-align: left;">
                                                18.	Wat als mijn toestel wordt afgekeurd?
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Als uw toestel niet overeenkomt met de aanmelding krijgt u een waardemail met een nieuwe waarde van ons, u heeft dan 2 keuzes: 
&lt;ul&gt;
&lt;li&gt;Akkoord gaan met de waarde, dan krijgt u het geld binnen 14 dagen op uw rekening gestort. &lt;/li&gt;
&lt;li&gt;Niet akkoord gaan met de waarde, dan sturen we uw toestel kosteloos terug en die zal u dan binnen 3 werkdagen ontvangen. &lt;/li&gt;
&lt;/ul&gt;</div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading19">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19" style="width: 100%; text-align: left;">
                                                19.	Wat als ik niet akkoord ga met de waardemail?
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Dan sturen we uw toestel kosteloos retour en die zal u dan binnen 3 werkdagen ontvangen. </div>
                                    </div>
                                </div>
                                                                <div class="card first">
                                    <div class="card-header" id="heading20">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20" style="width: 100%; text-align: left;">
                                                20.	Wanneer krijg ik het geld gestort? 
                                                <i class="fas fa-chevron-down" style="float: right;"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#faq-accordion" style="">
                                        <div class="card-body">Het geld zal na de bevestigingsmail binnen 48 uur op uw rekening staan. </div>
                                    </div>
                                </div>
                                                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>