<p><strong>Zakelijk kopen bij Rephone</strong></p>
<div style="text-align: right;"><img src="https://cdn.shopify.com/s/files/1/0607/5206/8837/files/iPhones_rephone_logo_betst_2048x2048.png?v=1682069718" alt="" width="495" height="278" style="float: right; margin-top: -50px;" /></div>
<p>Bent u op zoek naar iPhones, iPads of andere merken toestellen? Dan bent u bij ons aan het juiste adres. Wij leveren gereviseerde en nieuwe toestellen van voornamelijk Apple tegen een aanzienlijk lagere prijs dan onze concurrent. Naast in- en verkoop van toestellen kunnen wij u ook voorzien van zakelijke zowel particuliere abonnementen, accessoires en vaste telefonie. Wij bieden standaard 2 jaar garantie op al onze toestellen zowel nieuw als refurbished. Naast de garantie bieden wij ook optionele verzekeringen aan voor uw toestellen dit kan al vanaf €3,- per maand per toestel.</p>
<p> </p>
<p><strong>Buyback</strong></p>
<p>Naast verkoop kopen wij ook uw oude apparaten in tegen de hoogste prijs. Wij bieden vooraf een prijsschatting zodat u precies weet waar u aan toe bent. Bent u akkoord met de prijs? Dan kunt u de toestellen gratis opsturen via PostNL met ons label. Ook bieden we een afhaal optie indien dat nodig is. Nadat wij het toestel verwerkt hebben ontvangt u een directe uitbetaling (binnen 48 uur).</p>
<div style="text-align: left;"><img src="https://cdn.shopify.com/s/files/1/0607/5206/8837/files/persoon_adviseur_2048x2048.png?v=1682070772" alt="" style="float: left;" width="244" height="244" /></div>
<p> </p>
<p> </p>
<p><strong>Persoonlijk advies op maat</strong></p>
<p>Als u besluit om bij ons refurbished of nieuwe apparaten aan te schaffen krijgt u van ons een persoonlijke adviseur toegewezen. Deze adviseur zal u voorzien van passend advies op uw behoeften. We gaan kijken welke apparaten geschikt zijn voor uw organisatie. Op basis daarvan maken we voor u een prijsopgave, uiteraard met een leuke korting. Wij kunnen u voorzien van zowel toestellen als zakelijke abonnementen en VoIP aansluitingen.</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p><strong>Reparatie service</strong></p>
<p>Bereikbaarheid in uw organisatie is uiteraard van groot belang. Bij Rephone snappen we dat. Zodra er iets mis is met uw apparaat zullen we deze zo snel mogelijk repareren. U kunt langskomen op onze locatie in Middelharnis en direct geholpen worden of we zorgen dat een koerier het defecte toestel kosteloos bij u op komt halen. We streven ernaar om uw toestel binnen 48 uur weer terug bij uw bedrijf te hebben. Hiernaast bieden wij ook de mogelijkheid voor een tijdelijk vervangend toestel aan zodat u bereikbaar kunt zijn tot uw huidige toestel is gerepareerd.</p>
<p> </p>
<div style="text-align: left;"></div>
<p> </p>
<style><!--
img {
  float: right;
  margin-left: 20px;
}
--></style>
<p><img src="https://cdn.shopify.com/s/files/1/0607/5206/8837/files/Foto_abbenomenten_zakelijk_website_7e4a2a76-11fb-4328-b69a-c3cdadb5c24b_2048x2048.png?v=1682078937" alt="" width="142" height="191" /></p>
<p> </p>
<p><strong>Mobiele abonnementen en vaste telefonie</strong></p>
<p>Wij bieden van verschillende providers abonnementen aan zowel zakelijk als particulier. Wij zijn een onafhankelijke dealer van KPN, Vodafone en T-Mobile.</p>
<p> </p>
<p> </p>
<div style="text-align: left;"></div>
<p> </p>
<p style="padding-left: 240px;">  </p>
<div style="text-align: left;"><img src="https://cdn.shopify.com/s/files/1/0607/5206/8837/files/Ontwerp_zonder_titel_19_2048x2048.png?v=1682948933" alt="" style="float: left;" width="269" height="151" /></div>
<p style="padding-left: 240px;"><strong>VoIP aansluitingen</strong></p>
<p style="padding-left: 240px;">Wij bieden ook VoIP-oplossingen aan, waarmee u via internet kunt bellen vanaf uw vaste telefoon, computer of mobiele apparaat. Hiermee bespaart u kosten en</p>
<div style="text-align: left;"></div>
<p style="padding-left: 240px;">vergroot u de flexibiliteit van communicatie. Meer weten over VoIP? Klik hier voor meer informatie of neem contact met ons op.</p>
<p style="padding-left: 240px;"> </p>
<p style="padding-left: 240px;"> </p>
<p style="padding-left: 240px;"> </p>
<p> </p>
<div style="text-align: left;"></div>